Data: https://drive.google.com/drive/folders/1AMHXFOjRsEaGNj3tA4eU9z8H_ZIV-Dnz?usp=share_link

In [1]:
## Import libraries
import pandas as pd

In [2]:
#data by borough and year from 2015 to 2021

df = pd.read_excel("asam-snap-2015-2021.xlsx")
df

,year,borough,total estimate households,total estimate asian alone,percent estimate asian alone,households receving food stamps and snap all,percent households receving food stamps and snap all,households receiving food stamps and snap asian alone,percent households receiving food stamps and snap asian alone,households not receving food stamps and snap all,percent households not receving food stamps and snap all,households not receving food stamps and snap asian alone,percent households not receving food stamps and snap asian alone
0,2021,Bronx,533004,17897,3.4,195476,36.7,3957,2.0,337528,63.3,13940,4.1
1,2021,Brooklyn,1001868,105445,10.5,222332,22.2,22393,10.1,779536,77.8,83052,10.7
2,2021,Manhattan,737575,90494,12.3,106497,14.4,12402,11.6,631078,85.6,78092,12.4
3,2021,Queens,820686,197840,24.1,121827,14.8,29197,24.0,698859,85.2,168643,24.1
4,2021,Staten Island,170762,16384,9.6,21746,12.7,2904,13.4,149016,87.3,13480,9.0
5,2021,"New York City, New York",3263895,428060,13.1,667878,20.5,70853,10.6,2596017,79.5,357207,13.8
6,2019,Bronx,513890,16058,3.1,177577,34.6,2753,1.6,336313,65.4,13305,4.0
7,2019,Brooklyn,978091,99383,10.2,204394,20.9,19121,9.4,773697,79.1,80262,10.4
8,2019,Manhattan,768203,92996,12.1,96942,12.6,15690,16.2,671261,87.4,77306,11.5
9,2019,Queens,784552,189574,24.2,98201,12.5,22174,22.6,686351,87.5,167400,24.4
10,2019,Staten Island,166297,15824,9.5,19775,11.9,1808,9.1,146522,88.1,14016,9.6
11,2019,"New York City, New York",3211033,413835,12.9,596889,18.6,61546,10.3,2614144,81.4,352289,13.5
12,2018,Bronx,507370,15168,3.0,185720,36.6,2615,1.4,321650,63.4,12553,3.9
13,2018,Brooklyn,969317,94052,9.7,215975,22.3,17346,8.0,753342,77.7,76706,10.2
14,2018,Manhattan,752258,91890,12.2,92130,12.2,14978,16.3,660128,87.8,76912,11.7
15,2018,Queens,788110,191066,24.2,102509,13.0,21799,21.3,685601,87.0,169267,24.7
16,2018,Staten Island,167441,15057,9.0,18891,11.3,2051,10.9,148550,88.7,13006,8.8
17,2018,"New York City, New York",3184496,407233,12.8,615225,19.3,58789,9.6,2569271,80.7,348444,13.6
18,2017,Bronx,503985,14718,2.9,189476,37.6,4249,2.2,314509,62.4,10469,3.3
19,2017,Brooklyn,956223,94194,9.9,215133,22.5,21051,9.8,741090,77.5,73143,9.9
20,2017,Manhattan,764218,89006,11.6,106363,13.9,15922,15.0,657855,86.1,73084,11.1
21,2017,Queens,769258,183587,23.9,97777,12.7,19941,20.4,671481,87.3,163646,24.4
22,2017,Staten Island,165990,13214,8.0,18385,11.1,1656,9.0,147605,88.9,11558,7.8
23,2017,"New York City, New York",3159674,394719,12.5,627134,19.8,62819,10.0,2532540,80.2,331900,13.1
24,2016,Bronx,498539,16887,3.4,177876,35.7,3262,1.8,320663,64.3,13625,4.2
25,2016,Brooklyn,941871,91983,9.8,220689,23.4,21637,9.8,721182,76.6,70346,9.8
26,2016,Manhattan,748293,90102,12.0,99164,13.3,12113,12.2,649129,86.7,77989,12.0
27,2016,Queens,761819,177698,23.3,98934,13.0,20613,20.8,662885,87.0,157085,23.7
28,2016,Staten Island,164289,11939,7.3,17859,10.9,1622,9.1,146430,89.1,10317,7.0
29,2016,"New York City, New York",3114811,388609,12.5,614522,19.7,59247,9.6,2500289,80.3,329362,13.2
30,2015,Bronx,495513,14291,2.9,177578,35.8,3232,1.8,317935,64.2,11059,3.5
31,2015,Brooklyn,940176,91608,9.7,219184,23.3,20366,9.3,720992,76.7,71242,9.9
32,2015,Manhattan,751244,88906,11.8,102322,13.6,11871,11.6,648922,86.4,77035,11.9
33,2015,Queens,774752,176396,22.8,105190,13.6,20789,19.8,669562,86.4,155607,23.2
34,2015,Staten Island,167462,11734,7.0,21308,12.7,1365,6.4,146154,87.3,10369,7.1
35,2015,"New York City, New York",3129147,382935,12.2,625582,20.0,57623,9.2,2503565,80.0,325312,13.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 13 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   year                                                              36 non-null     int64
 1   borough                                                           36 non-null     object
 2   total estimate households                                         36 non-null     int64
 3   total estimate asian alone                                        36 non-null     int64
 4   percent estimate asian alone                                      36 non-null     float64
 5   households receving food stamps and snap all                      36 non-null     int64
 6   percent households receving food stamps and snap all              36 non-null     float64
 7   households receiving food stamps and snap asian alone             36 non-null     int64
 8   percent households receiving food stamps and snap asian alone     36 non-null     float64
 9   households not receving food stamps and snap all                  36 non-null     int64
 10  percent households not receving food stamps and snap all          36 non-null     float64
 11  households not receving food stamps and snap asian alone          36 non-null     int64
 12  percent households not receving food stamps and snap asian alone  36 non-null     float64
dtypes: float64(5), int64(7), object(1)
memory usage: 3.8+ KB

In [4]:
df.sample(10)

,year,borough,total estimate households,total estimate asian alone,percent estimate asian alone,households receving food stamps and snap all,percent households receving food stamps and snap all,households receiving food stamps and snap asian alone,percent households receiving food stamps and snap asian alone,households not receving food stamps and snap all,percent households not receving food stamps and snap all,households not receving food stamps and snap asian alone,percent households not receving food stamps and snap asian alone
29,2016,"New York City, New York",3114811,388609,12.5,614522,19.7,59247,9.6,2500289,80.3,329362,13.2
5,2021,"New York City, New York",3263895,428060,13.1,667878,20.5,70853,10.6,2596017,79.5,357207,13.8
24,2016,Bronx,498539,16887,3.4,177876,35.7,3262,1.8,320663,64.3,13625,4.2
19,2017,Brooklyn,956223,94194,9.9,215133,22.5,21051,9.8,741090,77.5,73143,9.9
14,2018,Manhattan,752258,91890,12.2,92130,12.2,14978,16.3,660128,87.8,76912,11.7
21,2017,Queens,769258,183587,23.9,97777,12.7,19941,20.4,671481,87.3,163646,24.4
8,2019,Manhattan,768203,92996,12.1,96942,12.6,15690,16.2,671261,87.4,77306,11.5
25,2016,Brooklyn,941871,91983,9.8,220689,23.4,21637,9.8,721182,76.6,70346,9.8
15,2018,Queens,788110,191066,24.2,102509,13.0,21799,21.3,685601,87.0,169267,24.7
1,2021,Brooklyn,1001868,105445,10.5,222332,22.2,22393,10.1,779536,77.8,83052,10.7

In [5]:
df.sort_values(by="households receiving food stamps and snap asian alone", ascending = True)

,year,borough,total estimate households,total estimate asian alone,percent estimate asian alone,households receving food stamps and snap all,percent households receving food stamps and snap all,households receiving food stamps and snap asian alone,percent households receiving food stamps and snap asian alone,households not receving food stamps and snap all,percent households not receving food stamps and snap all,households not receving food stamps and snap asian alone,percent households not receving food stamps and snap asian alone
34,2015,Staten Island,167462,11734,7.0,21308,12.7,1365,6.4,146154,87.3,10369,7.1
28,2016,Staten Island,164289,11939,7.3,17859,10.9,1622,9.1,146430,89.1,10317,7.0
22,2017,Staten Island,165990,13214,8.0,18385,11.1,1656,9.0,147605,88.9,11558,7.8
10,2019,Staten Island,166297,15824,9.5,19775,11.9,1808,9.1,146522,88.1,14016,9.6
16,2018,Staten Island,167441,15057,9.0,18891,11.3,2051,10.9,148550,88.7,13006,8.8
12,2018,Bronx,507370,15168,3.0,185720,36.6,2615,1.4,321650,63.4,12553,3.9
6,2019,Bronx,513890,16058,3.1,177577,34.6,2753,1.6,336313,65.4,13305,4.0
4,2021,Staten Island,170762,16384,9.6,21746,12.7,2904,13.4,149016,87.3,13480,9.0
30,2015,Bronx,495513,14291,2.9,177578,35.8,3232,1.8,317935,64.2,11059,3.5
24,2016,Bronx,498539,16887,3.4,177876,35.7,3262,1.8,320663,64.3,13625,4.2
0,2021,Bronx,533004,17897,3.4,195476,36.7,3957,2.0,337528,63.3,13940,4.1
18,2017,Bronx,503985,14718,2.9,189476,37.6,4249,2.2,314509,62.4,10469,3.3
32,2015,Manhattan,751244,88906,11.8,102322,13.6,11871,11.6,648922,86.4,77035,11.9
26,2016,Manhattan,748293,90102,12.0,99164,13.3,12113,12.2,649129,86.7,77989,12.0
2,2021,Manhattan,737575,90494,12.3,106497,14.4,12402,11.6,631078,85.6,78092,12.4
14,2018,Manhattan,752258,91890,12.2,92130,12.2,14978,16.3,660128,87.8,76912,11.7
8,2019,Manhattan,768203,92996,12.1,96942,12.6,15690,16.2,671261,87.4,77306,11.5
20,2017,Manhattan,764218,89006,11.6,106363,13.9,15922,15.0,657855,86.1,73084,11.1
13,2018,Brooklyn,969317,94052,9.7,215975,22.3,17346,8.0,753342,77.7,76706,10.2
7,2019,Brooklyn,978091,99383,10.2,204394,20.9,19121,9.4,773697,79.1,80262,10.4
21,2017,Queens,769258,183587,23.9,97777,12.7,19941,20.4,671481,87.3,163646,24.4
31,2015,Brooklyn,940176,91608,9.7,219184,23.3,20366,9.3,720992,76.7,71242,9.9
27,2016,Queens,761819,177698,23.3,98934,13.0,20613,20.8,662885,87.0,157085,23.7
33,2015,Queens,774752,176396,22.8,105190,13.6,20789,19.8,669562,86.4,155607,23.2
19,2017,Brooklyn,956223,94194,9.9,215133,22.5,21051,9.8,741090,77.5,73143,9.9
25,2016,Brooklyn,941871,91983,9.8,220689,23.4,21637,9.8,721182,76.6,70346,9.8
15,2018,Queens,788110,191066,24.2,102509,13.0,21799,21.3,685601,87.0,169267,24.7
9,2019,Queens,784552,189574,24.2,98201,12.5,22174,22.6,686351,87.5,167400,24.4
1,2021,Brooklyn,1001868,105445,10.5,222332,22.2,22393,10.1,779536,77.8,83052,10.7
3,2021,Queens,820686,197840,24.1,121827,14.8,29197,24.0,698859,85.2,168643,24.1
35,2015,"New York City, New York",3129147,382935,12.2,625582,20.0,57623,9.2,2503565,80.0,325312,13.0
17,2018,"New York City, New York",3184496,407233,12.8,615225,19.3,58789,9.6,2569271,80.7,348444,13.6
29,2016,"New York City, New York",3114811,388609,12.5,614522,19.7,59247,9.6,2500289,80.3,329362,13.2
11,2019,"New York City, New York",3211033,413835,12.9,596889,18.6,61546,10.3,2614144,81.4,352289,13.5
23,2017,"New York City, New York",3159674,394719,12.5,627134,19.8,62819,10.0,2532540,80.2,331900,13.1
5,2021,"New York City, New York",3263895,428060,13.1,667878,20.5,70853,10.6,2596017,79.5,357207,13.8

In [6]:
df.sort_values(by="households receiving food stamps and snap asian alone", ascending = False)

,year,borough,total estimate households,total estimate asian alone,percent estimate asian alone,households receving food stamps and snap all,percent households receving food stamps and snap all,households receiving food stamps and snap asian alone,percent households receiving food stamps and snap asian alone,households not receving food stamps and snap all,percent households not receving food stamps and snap all,households not receving food stamps and snap asian alone,percent households not receving food stamps and snap asian alone
5,2021,"New York City, New York",3263895,428060,13.1,667878,20.5,70853,10.6,2596017,79.5,357207,13.8
23,2017,"New York City, New York",3159674,394719,12.5,627134,19.8,62819,10.0,2532540,80.2,331900,13.1
11,2019,"New York City, New York",3211033,413835,12.9,596889,18.6,61546,10.3,2614144,81.4,352289,13.5
29,2016,"New York City, New York",3114811,388609,12.5,614522,19.7,59247,9.6,2500289,80.3,329362,13.2
17,2018,"New York City, New York",3184496,407233,12.8,615225,19.3,58789,9.6,2569271,80.7,348444,13.6
35,2015,"New York City, New York",3129147,382935,12.2,625582,20.0,57623,9.2,2503565,80.0,325312,13.0
3,2021,Queens,820686,197840,24.1,121827,14.8,29197,24.0,698859,85.2,168643,24.1
1,2021,Brooklyn,1001868,105445,10.5,222332,22.2,22393,10.1,779536,77.8,83052,10.7
9,2019,Queens,784552,189574,24.2,98201,12.5,22174,22.6,686351,87.5,167400,24.4
15,2018,Queens,788110,191066,24.2,102509,13.0,21799,21.3,685601,87.0,169267,24.7
25,2016,Brooklyn,941871,91983,9.8,220689,23.4,21637,9.8,721182,76.6,70346,9.8
19,2017,Brooklyn,956223,94194,9.9,215133,22.5,21051,9.8,741090,77.5,73143,9.9
33,2015,Queens,774752,176396,22.8,105190,13.6,20789,19.8,669562,86.4,155607,23.2
27,2016,Queens,761819,177698,23.3,98934,13.0,20613,20.8,662885,87.0,157085,23.7
31,2015,Brooklyn,940176,91608,9.7,219184,23.3,20366,9.3,720992,76.7,71242,9.9
21,2017,Queens,769258,183587,23.9,97777,12.7,19941,20.4,671481,87.3,163646,24.4
7,2019,Brooklyn,978091,99383,10.2,204394,20.9,19121,9.4,773697,79.1,80262,10.4
13,2018,Brooklyn,969317,94052,9.7,215975,22.3,17346,8.0,753342,77.7,76706,10.2
20,2017,Manhattan,764218,89006,11.6,106363,13.9,15922,15.0,657855,86.1,73084,11.1
8,2019,Manhattan,768203,92996,12.1,96942,12.6,15690,16.2,671261,87.4,77306,11.5
14,2018,Manhattan,752258,91890,12.2,92130,12.2,14978,16.3,660128,87.8,76912,11.7
2,2021,Manhattan,737575,90494,12.3,106497,14.4,12402,11.6,631078,85.6,78092,12.4
26,2016,Manhattan,748293,90102,12.0,99164,13.3,12113,12.2,649129,86.7,77989,12.0
32,2015,Manhattan,751244,88906,11.8,102322,13.6,11871,11.6,648922,86.4,77035,11.9
18,2017,Bronx,503985,14718,2.9,189476,37.6,4249,2.2,314509,62.4,10469,3.3
0,2021,Bronx,533004,17897,3.4,195476,36.7,3957,2.0,337528,63.3,13940,4.1
24,2016,Bronx,498539,16887,3.4,177876,35.7,3262,1.8,320663,64.3,13625,4.2
30,2015,Bronx,495513,14291,2.9,177578,35.8,3232,1.8,317935,64.2,11059,3.5
4,2021,Staten Island,170762,16384,9.6,21746,12.7,2904,13.4,149016,87.3,13480,9.0
6,2019,Bronx,513890,16058,3.1,177577,34.6,2753,1.6,336313,65.4,13305,4.0
12,2018,Bronx,507370,15168,3.0,185720,36.6,2615,1.4,321650,63.4,12553,3.9
16,2018,Staten Island,167441,15057,9.0,18891,11.3,2051,10.9,148550,88.7,13006,8.8
10,2019,Staten Island,166297,15824,9.5,19775,11.9,1808,9.1,146522,88.1,14016,9.6
22,2017,Staten Island,165990,13214,8.0,18385,11.1,1656,9.0,147605,88.9,11558,7.8
28,2016,Staten Island,164289,11939,7.3,17859,10.9,1622,9.1,146430,89.1,10317,7.0
34,2015,Staten Island,167462,11734,7.0,21308,12.7,1365,6.4,146154,87.3,10369,7.1

In [7]:
df.sort_values(by=["year", "households receiving food stamps and snap asian alone"], ascending = False)

,year,borough,total estimate households,total estimate asian alone,percent estimate asian alone,households receving food stamps and snap all,percent households receving food stamps and snap all,households receiving food stamps and snap asian alone,percent households receiving food stamps and snap asian alone,households not receving food stamps and snap all,percent households not receving food stamps and snap all,households not receving food stamps and snap asian alone,percent households not receving food stamps and snap asian alone
5,2021,"New York City, New York",3263895,428060,13.1,667878,20.5,70853,10.6,2596017,79.5,357207,13.8
3,2021,Queens,820686,197840,24.1,121827,14.8,29197,24.0,698859,85.2,168643,24.1
1,2021,Brooklyn,1001868,105445,10.5,222332,22.2,22393,10.1,779536,77.8,83052,10.7
2,2021,Manhattan,737575,90494,12.3,106497,14.4,12402,11.6,631078,85.6,78092,12.4
0,2021,Bronx,533004,17897,3.4,195476,36.7,3957,2.0,337528,63.3,13940,4.1
4,2021,Staten Island,170762,16384,9.6,21746,12.7,2904,13.4,149016,87.3,13480,9.0
11,2019,"New York City, New York",3211033,413835,12.9,596889,18.6,61546,10.3,2614144,81.4,352289,13.5
9,2019,Queens,784552,189574,24.2,98201,12.5,22174,22.6,686351,87.5,167400,24.4
7,2019,Brooklyn,978091,99383,10.2,204394,20.9,19121,9.4,773697,79.1,80262,10.4
8,2019,Manhattan,768203,92996,12.1,96942,12.6,15690,16.2,671261,87.4,77306,11.5
6,2019,Bronx,513890,16058,3.1,177577,34.6,2753,1.6,336313,65.4,13305,4.0
10,2019,Staten Island,166297,15824,9.5,19775,11.9,1808,9.1,146522,88.1,14016,9.6
17,2018,"New York City, New York",3184496,407233,12.8,615225,19.3,58789,9.6,2569271,80.7,348444,13.6
15,2018,Queens,788110,191066,24.2,102509,13.0,21799,21.3,685601,87.0,169267,24.7
13,2018,Brooklyn,969317,94052,9.7,215975,22.3,17346,8.0,753342,77.7,76706,10.2
14,2018,Manhattan,752258,91890,12.2,92130,12.2,14978,16.3,660128,87.8,76912,11.7
12,2018,Bronx,507370,15168,3.0,185720,36.6,2615,1.4,321650,63.4,12553,3.9
16,2018,Staten Island,167441,15057,9.0,18891,11.3,2051,10.9,148550,88.7,13006,8.8
23,2017,"New York City, New York",3159674,394719,12.5,627134,19.8,62819,10.0,2532540,80.2,331900,13.1
19,2017,Brooklyn,956223,94194,9.9,215133,22.5,21051,9.8,741090,77.5,73143,9.9
21,2017,Queens,769258,183587,23.9,97777,12.7,19941,20.4,671481,87.3,163646,24.4
20,2017,Manhattan,764218,89006,11.6,106363,13.9,15922,15.0,657855,86.1,73084,11.1
18,2017,Bronx,503985,14718,2.9,189476,37.6,4249,2.2,314509,62.4,10469,3.3
22,2017,Staten Island,165990,13214,8.0,18385,11.1,1656,9.0,147605,88.9,11558,7.8
29,2016,"New York City, New York",3114811,388609,12.5,614522,19.7,59247,9.6,2500289,80.3,329362,13.2
25,2016,Brooklyn,941871,91983,9.8,220689,23.4,21637,9.8,721182,76.6,70346,9.8
27,2016,Queens,761819,177698,23.3,98934,13.0,20613,20.8,662885,87.0,157085,23.7
26,2016,Manhattan,748293,90102,12.0,99164,13.3,12113,12.2,649129,86.7,77989,12.0
24,2016,Bronx,498539,16887,3.4,177876,35.7,3262,1.8,320663,64.3,13625,4.2
28,2016,Staten Island,164289,11939,7.3,17859,10.9,1622,9.1,146430,89.1,10317,7.0
35,2015,"New York City, New York",3129147,382935,12.2,625582,20.0,57623,9.2,2503565,80.0,325312,13.0
33,2015,Queens,774752,176396,22.8,105190,13.6,20789,19.8,669562,86.4,155607,23.2
31,2015,Brooklyn,940176,91608,9.7,219184,23.3,20366,9.3,720992,76.7,71242,9.9
32,2015,Manhattan,751244,88906,11.8,102322,13.6,11871,11.6,648922,86.4,77035,11.9
30,2015,Bronx,495513,14291,2.9,177578,35.8,3232,1.8,317935,64.2,11059,3.5
34,2015,Staten Island,167462,11734,7.0,21308,12.7,1365,6.4,146154,87.3,10369,7.1

## Queens Data

In [32]:
df_queens = df.query("borough == 'Queens'").copy()
df_queens

,year,borough,total estimate households,total estimate asian alone,percent estimate asian alone,households receving food stamps and snap all,percent households receving food stamps and snap all,households receiving food stamps and snap asian alone,percent households receiving food stamps and snap asian alone,households not receving food stamps and snap all,percent households not receving food stamps and snap all,households not receving food stamps and snap asian alone,percent households not receving food stamps and snap asian alone
3,2021,Queens,820686,197840,24.1,121827,14.8,29197,24.0,698859,85.2,168643,24.1
9,2019,Queens,784552,189574,24.2,98201,12.5,22174,22.6,686351,87.5,167400,24.4
15,2018,Queens,788110,191066,24.2,102509,13.0,21799,21.3,685601,87.0,169267,24.7
21,2017,Queens,769258,183587,23.9,97777,12.7,19941,20.4,671481,87.3,163646,24.4
27,2016,Queens,761819,177698,23.3,98934,13.0,20613,20.8,662885,87.0,157085,23.7
33,2015,Queens,774752,176396,22.8,105190,13.6,20789,19.8,669562,86.4,155607,23.2

In [33]:
df_queens.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 3 to 33
Data columns (total 13 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   year                                                              6 non-null      int64
 1   borough                                                           6 non-null      object
 2   total estimate households                                         6 non-null      int64
 3   total estimate asian alone                                        6 non-null      int64
 4   percent estimate asian alone                                      6 non-null      float64
 5   households receving food stamps and snap all                      6 non-null      int64
 6   percent households receving food stamps and snap all              6 non-null      float64
 7   households receiving food stamps and snap asian alone             6 non-null      int64
 8   percent households receiving food stamps and snap asian alone     6 non-null      float64
 9   households not receving food stamps and snap all                  6 non-null      int64
 10  percent households not receving food stamps and snap all          6 non-null      float64
 11  households not receving food stamps and snap asian alone          6 non-null      int64
 12  percent households not receving food stamps and snap asian alone  6 non-null      float64
dtypes: float64(5), int64(7), object(1)
memory usage: 672.0+ bytes

In [34]:
dfq = df_queens.query("year == 2021 | year == 2015").copy()
dfq

,year,borough,total estimate households,total estimate asian alone,percent estimate asian alone,households receving food stamps and snap all,percent households receving food stamps and snap all,households receiving food stamps and snap asian alone,percent households receiving food stamps and snap asian alone,households not receving food stamps and snap all,percent households not receving food stamps and snap all,households not receving food stamps and snap asian alone,percent households not receving food stamps and snap asian alone
3,2021,Queens,820686,197840,24.1,121827,14.8,29197,24.0,698859,85.2,168643,24.1
33,2015,Queens,774752,176396,22.8,105190,13.6,20789,19.8,669562,86.4,155607,23.2

In [35]:
## fixed value
old_dfq_pct_chg_snap = dfq["households receiving food stamps and snap asian alone"].iat[1]
old_dfq_pct_chg_snap

20789

In [37]:
df_queens["old_dfq_pct_chg_snap"] = ((dfq["households receiving food stamps and snap asian alone"] - old_dfq_pct_chg_snap) / old_dfq_pct_chg_snap) * 100
dfq

,year,borough,total estimate households,total estimate asian alone,percent estimate asian alone,households receving food stamps and snap all,percent households receving food stamps and snap all,households receiving food stamps and snap asian alone,percent households receiving food stamps and snap asian alone,households not receving food stamps and snap all,percent households not receving food stamps and snap all,households not receving food stamps and snap asian alone,percent households not receving food stamps and snap asian alone
3,2021,Queens,820686,197840,24.1,121827,14.8,29197,24.0,698859,85.2,168643,24.1
33,2015,Queens,774752,176396,22.8,105190,13.6,20789,19.8,669562,86.4,155607,23.2